.portfolio {
    margin-top: 10rem;
    padding: 0;
    overflow: hidden;
}

.portfolio__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

#projects {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.project {
    max-height: 65vh;
    max-width: 80vw;
    align-self: center;
    border-radius: 16px;
}

.project-title {
    padding: 2rem;
    text-align: center;
    font-size: 5vmin;
}

.project-description {
    align-self: center;
    text-align: center;
    padding: 3vw;
    font-size: 2vmin;
    width: 50vw;
}

.project-info {

}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
    .portfolio {
        margin-top: 0;
    }
}