.portfolio {
    margin-top: 10rem;
    padding: 0;
    overflow: hidden;
}

.portfolio__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

#projects {
    width: 100vw;
    height: clamp(40vmin, 80vmin, 80vmin);
    position: relative;
}


#image-track {
    display: flex;
    position: absolute;
    min-width: max-content;
    height: clamp(40vmin, 60vmin, 80vmin);
    gap: 4vmin;
    position: absolute;
    left: 100%;
    top: 10%;
    transition: transform 2s ease-in-out;
}

#image-track>.project {
    aspect-ratio: 1/1.1;
    position: relative;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 100% 50%;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin: auto;
}

.arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.258);
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s, background-color 0.2s;
}

.arrow:active {
    outline: none;
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
    .portfolio {
        margin-top: 0;
    }
}