a {
    font-size: var(--normal-font-size);
}

.contact__form-div {
    
}

label {
    position: relative;
    font-size: var(--h3-font-size);
}

.contact__form-input {
    font-size: var(--larger-font-size);
    background-color: var(--body-color);
    border-style:solid;
    border-width: 1px;
    border-color: var(--text-color);
    border-radius: 0.75rem;
}

#contact-message {
    height: 15rem;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__media {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 1rem;
}

.button {
    font-weight: var(--font-small);
    display: flex;
    justify-content: center;
}